html, body {
    font-family: 'Rubik', sans-serif;
    background-color:#F6F5F3;
    overflow-x: hidden;
}
h1 {
    font-size: 40px;
    margin-top:120px;
    margin-bottom:20px;
    text-align: left;
    font-weight: 800;
}
h2 {
    font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 26px;
line-height: 36px;
color: #54575E;
margin-bottom:40px;
}
a:hover {
    text-decoration: none;
}
p {
    font-size: 20px;
line-height: 32px;
}
.container {
    width: 1280px;
    max-width: 1280px;
}
header {
    background-color:#fff;
}
.header {
    padding-top:35px;
    padding-bottom:35px;
    display:grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 35% 1fr ;
}
.logo_img {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}
.logo_img_2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1; 
}
.logo_img_2 span{
    font-style: normal;
    font-weight: 300;
	color: #212529;
}
.logo_img:before{
    top: -50px;
    content: "";
    position: absolute;
    width: 90px;
    height: 80px;
    background: #C15B5A;
    transform: skewx( 
-20deg
 );
    left: -100px;
}
 .header .logo_img:after{
    top: 75px;
    content: "";
    position: absolute;
    width: 108px;
    height: 30px;
    background: url(img/top_img_after.png);
    background-size: cover;
    left: 135px;
} 
.name_park {
font-style: normal;
font-weight: bold;
font-size: 33px;
line-height: 34px;
text-transform: uppercase;
color: #C15B5A;
}
.header span {
font-size: 33px;
line-height: 34px;
text-transform: uppercase; 
}
.info_site {
    display:flex;
    justify-content: space-between;
}
.info_site a {
    margin-left: 25px;
    color:#000;
}
.mail_top {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px; 
    color: #54575E;
    position: relative;
    padding-left:10px;
}
.mail_top:before {
    content: "";
    position: absolute;
    background-image: url(img/vector.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    left: -5px;
    bottom: 10px;
}
.number_top {
    position: relative;
}
.number_top:before {
    content: "";
    position: absolute;
    background-image: url(img/phone.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    left: -15px;
    bottom: 5px;
}
.whatsapp_top{
    position: relative;
}
.whatsapp_top:before {
    left: -15px;
    content: "";
    position: absolute;
    background-image: url(img/whatsapp.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    bottom: 5px;
}
.menu_top {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-content: space-between;
}
.menu_top a {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px; 
    color: #1B1C1E;
    margin-top:auto;
    margin-bottom:auto;
}
.menu_top a:hover{
    color: #46C0C1; 
}

/* Блок со слайдом */
.slider_top {
    padding-left:0;
    padding-right:0;
    margin-bottom:-140px;
}
.slide_block {
    padding-left:6%;
    padding-right:260px;
    padding-top:270px;
    padding-bottom:250px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/bg_top.png);
    position: relative;
}
.next {
    position: absolute;
    top: 50%;
    right: 2%;
}
.prev {
    position: absolute;
    top: 50%;
    left: 2%;
}
.name_slider {
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 3.5rem;
    color:#fff;  
}
.text_slider {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 3.5rem;
    color:#fff;   
}
/* блок даты */
.datepicker {
    position: relative
}

.datepicker__caption {
margin-bottom:15px;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 16px;
    position: relative;
    color: #484151;
    text-align: left;
    cursor: pointer;
    vertical-align: top;
}

.datepicker__caption:after {
    position: relative;
    top: 0;
    right: -12px;
    content: '';
    transition: .5s;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0H0Z" fill="rgb(1,186,198)"/></svg>')
}

.datepicker__caption--open:after {
    transition: .5s;
    transform: rotate(180deg)
}

.datepicker__value table {
    margin: 0
}

.datepicker__value--placeholder {
    color: #a197ac
}

.datepicker__value td {
    height: 20px;
    vertical-align: middle;
    text-align: left;
    font-weight: 600;
    color: #484151;
    font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 16px;
}

.datepicker__value .day {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 56px;
    height: 40px;
    padding-right: 8px;
}

.datepicker__value .year {
    vertical-align: middle;
    font-weight: 400
}

.datepicker__value--open td {
    color: #01bac6
}

.datepicker__list {
    width: 400px;
    position: absolute;
    z-index: 2;
    background: #fff;
    border-width: 0 1px 1px;
    border-color: light-grey;
    border-style: solid;
    overflow: visible
}

.datepicker__item {
    padding: .5rem;
    text-align: left
}

.datepicker__item:hover {
    background: light-grey
}

.pickmeup {
    background: #fff;
    border-radius: 8px;
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    touch-action: manipulation;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25)
}

.pickmeup * {
    box-sizing: border-box;
}

.pickmeup.pmu-flat {
    position: relative
}

.pickmeup.pmu-hidden {
    display: none
}

.pickmeup .pmu-instance {
    display: inline-block;
    height: 384px;
    padding: 24px;
    text-align: center;
    width: 352px
}

@media (max-width: 959px) {
    .pickmeup{
        left: 0!important;
    }
    .pickmeup .pmu-instance {
        padding: 5px;
    }
}

.pickmeup .pmu-instance .pmu-button {
    color: #484151;
    cursor: pointer;
    outline: 0;
    text-decoration: none
}

.pickmeup .pmu-instance .pmu-button:hover {
    background-color: rgba(1, 186, 198, .3);
    color: #01bac6
}

.pickmeup .pmu-instance .pmu-selected {
    background-color: #01bac6;
    color: #fff
}

.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
    background: #17384d
}
.pickmeup .pmu-instance>div{
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
}
.pickmeup .pmu-instance nav {
    color: #484151;
    background: #fff;
    display: flex;
    line-height: 2em;
    font-weight: 700;
}

.pickmeup .pmu-instance nav :first-child :hover {
    color: #01bac6
}

.pickmeup .pmu-instance nav .pmu-next, .pickmeup .pmu-instance nav .pmu-prev {
    height: 32px;
    width: 32px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px 16px
}

.pickmeup .pmu-instance nav .pmu-prev {
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7912 7.00496H3.62124L8.50124 2.12496C8.89124 1.73496 8.89124 1.09496 8.50124 0.704961C8.31441 0.517709 8.06076 0.412476 7.79624 0.412476C7.53172 0.412476 7.27807 0.517709 7.09124 0.704961L0.50124 7.29496C0.11124 7.68496 0.11124 8.31496 0.50124 8.70496L7.09124 15.295C7.48124 15.685 8.11124 15.685 8.50124 15.295C8.89124 14.905 8.89124 14.275 8.50124 13.885L3.62124 9.00496H14.7912C15.3412 9.00496 15.7912 8.55496 15.7912 8.00496C15.7912 7.45496 15.3412 7.00496 14.7912 7.00496Z" fill="rgb(1,186,198)"/></svg>')
}

.pickmeup .pmu-instance nav .pmu-next {
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.20874 8.99996H12.3787L7.49874 13.88C7.10874 14.27 7.10874 14.91 7.49874 15.3C7.88874 15.69 8.51874 15.69 8.90874 15.3L15.4987 8.70996C15.8887 8.31996 15.8887 7.68996 15.4987 7.29996L8.91874 0.699956C8.73191 0.512704 8.47826 0.407471 8.21374 0.407471C7.94922 0.407471 7.69557 0.512704 7.50874 0.699956C7.11874 1.08996 7.11874 1.71996 7.50874 2.10996L12.3787 6.99996H1.20874C0.65874 6.99996 0.20874 7.44996 0.20874 7.99996C0.20874 8.54996 0.65874 8.99996 1.20874 8.99996Z" fill="rgb(1,186,198)"/></svg>')
}

.pickmeup .pmu-instance nav .pmu-month {
    width: 14em
}
.book-form__tab-wrapper {
    border-radius: 0 4px 4px 4px;
    padding: 45px 64px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.book-form__tab--active {
    display: block;
}
.book-form__items--hotels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.book-form__item {
    width: 20%;
}
.guests {
    opacity: 0
}

.guests__minus, .guests__plus {
    z-index: 1;
    cursor: pointer;
    width: 96px;
    position: absolute;
    top: calc(50% - 16px);
    color: #01bac6;
    font-size: 48px;
    font-weight: 400;
    opacity: 0
}

.guests__minus {
    text-align: left;
    left: 10%
}

.guests__plus {
    text-align: right;
    left: auto;
    right: 10%
}

.guests__group {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    text-align: center
}

.guests__group * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.guests__group:hover .guests__minus, .guests__group:hover .guests__plus {
    opacity: 1;
    transition: .5s
}

.guests--ready {
    opacity: 1
}

.guests__value {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 56px;
    color: #484151;
    text-align: center
}

.guests__value span {
    font-size: 16px;
    font-weight: 600
}

.guests__value--placeholder {
    color: grey
}

.guests__caption {
    position: relative;
    text-transform: none;
    color: #484151;
    font-weight: 600;
    cursor: pointer
}

.guests__caption--has-value {
    color: #01bac6;
    text-transform: none
}

.guests__caption--caret:after {
    position: relative;
    top: 0;
    right: -16px;
    content: '';
    transition: .5s;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0H0Z" fill="rgb(1,186,198)"/></svg>')
}

.guests__caption--caret--open:after {
    transition: .5s;
    transform: rotate(180deg)
}

.guests__panel {
    position: relative;
    top: -40px;
    margin-bottom: -48px;
    display: none;
    color: #01bac6;
    background: #fff;
    width: 100%;
    z-index: 1
}

.guests__panel--visible {
    display: block
}

.guests__panel .guests__minus, .guests__panel .guests__plus {
    text-align: center;
    opacity: 1 !important;
    font-size: 40px;
    color: inherit;
    top: calc(50% - 28px)
}

.guests__panel .guests__minus {
    left: 0
}

.guests__panel .guests__plus {
    right: 6px
}

.guests__panel .guests__value {
    padding-left: 4px;
    color: inherit;
    font-size: 48px;
    position: relative
}
.book-form__btn {
    font-family: Panton;
    outline: 0;
    border: none;
    background-color: #01bac6;
    transition: .5s;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 24px;
    cursor: pointer;
    display: block;
    width: 100%;
}
.book-form__btn:hover {
    background-color: #005b61;
    transition: .5s;
}
.link_room_item .active_tab {
    color: #000;
    padding: 20px 40px;
    background-color: #FBDA81;
    width: 100%;
    margin-bottom: 10px;
}
/* об отеле */
.block_about_otel span {
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
}
.block_about_otel p{
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}
.block_about_otel p:after{
    content:"";
    position: absolute;
    background-image:url('img/Union.svg') ;

}

.img_about_otel img {
    width:100%;
}
.img_about_otel {
    overflow: hidden;
    position: relative;
}
.img_about_otel:before {
    content: "";
    position: absolute;
    background-color: #FBDA81;
    transform: skewx(
-45deg
);
    width: 100px;
    height: 100px;
    left: -55px;
}
.img_about_otel:after {
    content: "";
    position: absolute;
    background-color: #FBDA81;
    transform: skewx(
-45deg
);
    width: 100px;
    height: 100px;
    bottom: 0;
    right: -65px;
    }
.p_about_otel {
    padding-left:0;
    padding-right:0;
}
.p_about_otel p {
    padding-top:40px;
    text-align: left;

}
.line {
    margin-bottom:40px;
    margin-top:40px;
    width:10%;
    height:5px;
    background-color: #46C0C1;
}
/* Счастливые часы */
.lucky_hour_block {
    margin-top:120px;
    background: #FBDA81;
border-radius: 10px;
position: relative;
}
.lucky_hour_block:before{
    content: "";
    position: absolute;
    background-color: #C15B5A;
    width: 700px;
    height: 500px;
    transform: skewX(
-37deg
);
    left: -305px;
}
.lucky_hour_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    overflow: hidden;
}
.lucky_hour {

    padding-left: 50px;
    padding-top: 50px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    position: relative;
    font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
color:#FFF;
}
.podpis_rassilka {
    padding-top:60px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
}
.percent_hour {
    margin-top:20px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    position: relative;
    font-style: normal;
font-weight: bold;
font-size: 182.857px;
line-height: 165px;
letter-spacing: 0.01em;
color:#fff;
margin-bottom:-20px;
}
.input_mail_lucky_hour {
    padding-right:95px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    display: inline-flex;
    height:fit-content;
    height: -moz-fit-content;
}
.form-control {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);   
    padding:18px;
    height:auto;
    width:60%;
    border-radius: 0;
}
.citizen .form-control .select2-hidden-accessible {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);   
    padding:18px;
    height:auto;
    width:60%;
    border-radius: 0;
}
.flag-text { margin-left: 10px; }
.form-control::placeholder{
    padding:18px;
    font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 24px;
}
.sell_lucky_hour {
    width:40%;
    outline: 0;
    border: none;
    background-color: #C15B5A;;
    transition: .5s;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 0;
    display: block;
    transition: 0.2s;
}
.sell_lucky_hour:active {
    opacity: 0;
}
.container_lucky_hour {
    max-width:1160px;
    margin:auto;
}

/* Блок отелей */

.control_buttons {
    margin-block-start: auto;
    margin-bottom:40px;
}
.container_title_hotels {
    display: flex;
    justify-content: space-between;
}
img.button_hotels_prev.slick-arrow {
    transform: rotate(
180deg
);
}
.img_hotel_slide {
    width:fit-content;
    width: -moz-fit-content;

    margin-bottom:20px;
}
.img_hotel_slide img{
    width:100%;
    border-radius:10px;
}
.hotel_stars {
    width: fit-content;
    width: -moz-fit-content;
    display: flex; 
}
.name_hotel {
    width: fit-content;
    width: -moz-fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
    font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 40px;
margin-bottom:20px;
}
.price_hotel {
    width: fit-content;
    width: -moz-fit-content;
    font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 20px;
}
.hotel_stars img {
    width:100%;
    margin-left:10px;
}
.hotel_location {
    margin-left:40px;
    color: #54575E;
    font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 28px;
position: relative;
}
.hotel_location:before {
    content: "";
    position: absolute;
    background: url(img/location.png);
    width: 16px;
    height: 22px;
    left: -22px;
    bottom: 5px;
    background-size: contain;
}
.hotel_container {
    background-color:#fff;
    width:fit-content;
    width: -moz-fit-content;
    margin-left:20px;
    margin-right:20px;
    padding: 15px 15px 30px 15px;
}
/* Футер */
footer {
    width:100vw;
    background-color:#1B1C1E;
    position: relative;
    margin-top:125px;
    padding-bottom:130px;
    overflow:hidden;
}
footer:before {
    content: "";
    position: absolute;
    background-color: #F6F9F8;
    width: 200px;
    height: 450px;
    transform: skewX( 
-37deg
 );
    left: -250px;
    opacity: 0.1;
}
footer:after {
    content: "";
    position: absolute;
    background: url('img/znak_footer.svg');
    width: 200px;
    height: 450px;

    left: -250px;
}
.footer .container{
    color:#F6F9F8;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.info_block_footer {
    display:grid;
    padding-top:145px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.info_footer {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #F6F9F8;
opacity: 0.7;
}
.info_block_footer span{
    position: relative;
}
.email_footer {
    margin-left: 20px;
    padding-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #F6F9F8;
    position: relative;
}
.email_footer:before {
    content: "";
    position: absolute;
    background: url(img/icon_mail.svg);
    width: 23px;
    height: 22px;
    left: -22px;
    background-size: cover;
}
.number_footer {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    position: relative;
    margin-left: 17px;
    padding-left: 10px;
    
}
.number_footer:before {
    content: "";
    position: absolute;
    background: url(img/icon_phone.svg);
    width: 23px;
    height: 22px;
    left: -22px;
    background-size: cover;
    top: -5px;
}
.vk_footer {
    background-image: url('img/vk\ fill.svg');
    background-size: cover;
}
.whatsapp_footer {
    background-image: url('img/whatsapp\ fill.svg');
    background-size: cover;
}
.fb_footer {
    background-image: url('img/facebook\ fill.svg');
    background-size: cover;
}
.inst_footer {
    background-image: url('img/instagram\ fill.svg');
    background-size: cover;
}
.tg_footer {
    background-image: url('img/Subtract.svg');
    background-size: cover;
}
.link_footer {
    justify-content: space-between;
    width: 40%;
    display:flex;
}
.link_footer a {
    height:40px;
    width:40px;
}
.politica {
    color: #F6F9F8;
    opacity: 0.7;  
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.form-check-label {
    width:50%;
    color: #f6f9f880;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 16px;
}
.button-footer {
    width: 40%;
    outline: 0;
    border: none;
    background-color: #C15B5A;
    transition: .5s;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 0;
    display: block;
    transition: 0.2s;
    margin-top:25px;
}
.button-footer:hover {
    background-color: #C4605F;
    color:#fff;
}
.form-check input[type="checkbox"] {
    opacity:0;
}
.form-check-label:before{
    background-color: #fff;
    content: "";
    display: inline-block;
    position: absolute;
    height: 32px;
    width: 32px;
    color: #FFFFFF;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid;  
    left:0; 
    top:0;
}
.form-check-label:after{
    content: "";
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 16px;
    background: #C15B5A;
    background: #C15B5A;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 20%);
    border: 1px solid;
    left: 8px;
    top: 8px;
}

/*Прячем галку по умолчанию*/
.form-check input[type="checkbox"] + label::after {
    content: none;
}
/*Показываем галку по состоянию checked*/
.form-check input[type="checkbox"]:checked + label::after {
    content: "";
}
.form-check input[type="radio"] + label::after {
    content: none;
}
/*Показываем галку по состоянию checked*/
.form-check input[type="radio"]:checked + label::after {
    content: "";
}
.form-check input[type="radio"] {
    opacity:0;
}
.politica {
    width:fit-content;
    width: -moz-fit-content;
}
/* блок об отеле на других страницах */
.block_about_hotel {
    margin-top:120px;
}
.head_about_hotel {
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 40px;
margin-bottom:40px;
}
.a_link {
    position: relative;
    margin-top: 40px;
    text-align: left;
    color:#000;
    text-transform: uppercase;
    font-weight: 500;
}
.info_about_hotel {
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
margin-bottom:120px;
}
.a_link:hover{
 color:#46C0C1;
}
.a_link:after{
    left: 90px;
    width: 12px;
    content: "";
    position: absolute;
    background-image: url(img/Union.svg);
    height: 20px;
    background-size: cover;
}
.pravila li{
    list-style-type: none;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
margin-bottom:20px;
position: relative;
}
.pravila li:before {
    top:10px;
    bottom: 10px;
    left: -20px;
    content: "";
    position: absolute;
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #C15B5A;
}
.pravila {
    margin-top:120px;
}
.pravila span{
    margin-bottom:40px;
}
.sochi_zaselenie p{
    font-family: Rubik;
font-style: normal;
font-size: 20px;
line-height: 32px;
}
/* Блок комнат */
.rooms_item_blocks p:first-child {
    font-weight: bold;
}
.rooms_block {
	padding:25px;
	margin-bottom: 10px;
    background-color:#FFF;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.left_rooms_block>.hotel_stars {
   margin-bottom:30px; 
}
.left_rooms_block>.price_hotel {
    margin-bottom:30px; 
 }

 .left_rooms_block>.text_hotel {
    margin-bottom:30px; 
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
 }
.hotel_button {
    width:fit-content;
    width: -moz-fit-content;
    border-radius: 0;
}
.img_block_room {
    background-image: url(img/image_hotel_big.png);
    width:100%;
    height:100%;
    background-size: cover;
    border-radius:10px;
}
/* Расположение  */
.info_location {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #fff;
    padding: 50px 80px 50px;
    width: calc(100vw - 30px);
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    border-radius: 4px;
    bottom: -40px;
}
@media (max-width:1280px) {
    .info_location {
        width:960px;
    }
}
.info_location p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 16px;
}
.location_hotel {
    position: relative;
}
.info_location h2{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 36px;  
    color: #1B1C1E;
}
.info_location span {
    font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 16px;
}
.info_location p{
    margin-top:15px;
    font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 16px;
}
.info_location {
    display:flex;
    align-items: center;
}
/* Для детей */
.for_kids_blocks {
    margin-top:120px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}
.for_kids_block_right>.img_about_otel,.for_kids_block_left>.img_about_otel {
    margin-bottom:30px;
}
.for_kids_blocks>.pravila {
    margin-top:0;
}
.for_kids_blocks h2{
    font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 40px;
color:#000;
}
/* Услуги */
.service_item_blocks  {
    margin-top:100px;
}
.service_block {
    margin-top:120px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:100px;
}
.service_block h2{
    font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 40px;
color:#000;
}
/*Услуги item */
.service_item_block {
    display:grid;
    grid-template-columns: 1fr 50%;
    grid-gap:100px;
 
}
.service_item_left li:before{
    left: -20px;
    content: "";
    position: absolute;
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #C15B5A;
    top: 12px;
}
.service_item_left li {
    list-style-type: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    position: relative;
}
/* таблица в услугах */
.title_service_table {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    background-color:#FBDA81;
}
.text_service_table {
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;

}
.bgr_white {
    background-color: #fff;
}
.service_table .col-sm-4 {
    border-right:5px #F6F5F3 solid;
    padding:12px 22px;
}
/* баннер снизу */
.banner_bottom_container {
    margin-top:120px;
}
.banner_bottom {
    margin-top:-100px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/banner_bottom.png);
    position: relative;
    padding-bottom:250px;
}

/* Баннер сверху */

.banner_top {
    padding-top: 80px;
    text-align: center;
    margin-bottom: -100px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/banner_bottom.png);
    position: relative;
    padding-bottom: 140px;
}
.banner_top_container {
    margin-top:120px;
}
.banner_top span {
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 36px;
color:#fff;
}
.call_back_fixed {
    z-index: 1;
    position: fixed;
    background-color: #C4605F;
    padding: 10px 20px 10px 40px;
    color: #fff;
    top: 30%;
    right: 0;
    right: -75px;
    transform: rotate( 
270deg
 );
    cursor: pointer;
}
.call_back_fixed:before{
    background-color: #C4605F;
    transform: rotate( 
90deg
 );
    top: 5px;
    position: absolute;
    content: "";
    background-image: url(img/headphones.svg);
    background-size: cover;
    width: 34px;
    height: 32px;
    left: 0px;
}
.modal_form_fixed {
    padding:140px 110px;
    background-color:#C15B5A;
    overflow: hidden;
}
.modal_form_fixed:after {
    position: absolute;
    content: "";
    background-image: url(img/fixed_after.svg);
    background-size: contain;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: -45px;
}
.modal_form_fixed  h1{
    margin-top:0;
    color:#000;
}
.modal_form_fixed  p{
    color: #f6f9f8ad;
}
.modal-dialog {
max-width:700px;
}
.form_control_fixed {
    width:100%;
}
.form_check_fixed {
    padding-left:40px;
}
.button_fixed {
    width: 40%;
    outline: 0;
    border: none;
    background-color: #FBDA81;
    transition: .5s;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 0;
    display: block;
    transition: 0.2s;
    margin-top:25px;  
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image :url(img/error.svg);
}


.spisok_top input
{
  display: none;
}
.items label {
    margin-bottom:0;
}
#text
{
  position: absolute;
  display: block;
  top: 0;
  padding-left: 10px;
}

.select
{
  display: inline-block;
  width: 180px;
  height: 34px;
  line-height: 30px;
  position: relative;
}

.select:after
{
    position: relative;
    top: -2px;
    right: -200px;
    content: '';
    transition: .5s;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 5L10 0H0Z" fill="rgb(1,186,198)"/></svg>');
}


.select input[name="list"]:not(:checked) ~ #text
{
  color: black;
  background: white;
}

.select input[name="list"]:checked ~ #text
{
  background: transparent;
  color: transparent;
  z-index: 2;
}

#select:disabled ~ .items #text
{
  background: #eee;
}

.items
{
    display: block;
    min-height: 30px;
    position: absolute;
    /* border: 2px solid #ddd; */
    overflow: hidden;
    width: 180px;
    cursor: pointer;
    top: -2px;
}

#select:not(:checked) ~ .items
{
  height: 30px;
}

.items label
{
  border-top: 2px solid #ddd;
  display: none;
  padding-left: 10px;
  background: white;
}

.items label:hover
{
  background: #01bac6;
  cursor: pointer;
}

#select:checked ~ .items
{
  padding-top: 30px;
}

#select:checked ~ .items label
{
  display: block;
}

.items input:checked + label
{
  display: block!important;
  border: none;
  background: white;
}




.Name_cite {
    font-weight: 500;
font-size: 26px;
line-height: 16px;
}

/* Мобильное меню */
.mobile_menu_overlay, .mobile_menu_container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mobile_menu_container, .mobile_menu_container ul li ul{
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
}
.mobile_menu_overlay{
	display: none;
	cursor: pointer;
	z-index: 10200;
	background: rgba(0, 0, 0, 0.5);
}
.mobile_menu_container{
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	width: 300px;
	overflow: hidden;
	z-index: 10201;
	background: #fff;
}
.mobile_menu_container.loaded{
   	-webkit-transform: translateX(0px);
   	transform: translateX(0px);
}
.mobile_menu_container .mobile_menu_content{
	overflow: auto;
	max-height: 100%;
	padding-bottom: 30px;
}
.mobile_menu_container ul{
	margin: 0;
	padding: 0;
}
.mobile_menu_container ul li{
	list-style: none;
    text-align: center;
}
.mobile_menu_container ul li a{
	display: block;
	padding: 15px 20px;
	line-height: 20px;
	font-size: 16px;
	background: #fff;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.mobile_menu_container ul li a.parent{
	padding-right: 50px;
	background: rgb(224, 218, 218) url("images/arrow_right.svg") right 20px center no-repeat;
	background-size: 20px;
}
.mobile_menu_container ul li a.parent:hover{
	background: rgb(224, 218, 218) url("images/arrow_right.svg") right 20px center no-repeat;
	background-size: 20px;
}
.mobile_menu_container ul li a.back{
	padding-left: 50px;
	background: rgb(224, 218, 218) url("images/arrow_left.svg") left 20px center no-repeat;
	background-size: 20px;
	box-sizing: border-box;
	min-height: 50px;
}
.mobile_menu_container ul li a.back:hover{
	background: rgb(224, 218, 218) url("images/arrow_left.svg") left 20px center no-repeat;
	background-size: 20px;
}
.mobile_menu_container ul li a:hover{
	background: #C4605F;
}
.mobile_menu_container ul li ul{
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 2;
}
.mobile_menu_container ul li ul.loaded{
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.mobile_menu_container ul li ul.activity{
	overflow-y: auto;
	overflow-x: hidden;
}


.mobile_menu {
    position: relative;
}
.mobile_menu {
    display: block;
    background-image: url(img/burger.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
}
.hide_menu {
    right:0;
    content: "";
    position: absolute;
    background-image: url(img/hide_menu.svg);
    width: 16px;
    height: 30px;
    background-size: cover;
    bottom: 0; 
}
.custom_ol_spisok li {
    color:#C15B5A;
    font-size: 20px;
}
.custom_ol_spisok span{
    color:#000;
}
.about_setting_container .pravila {
    margin-top:40px;
}

.room_item_block {
    display:grid;
    grid-template-columns: 1fr 70%;
    grid-gap:40px;
 
}
.room_item_right {
    margin-top:0;
}
.link_room_item {
    color:#000;
    padding:20px 40px;
    background-color: #fff;
    width:100%;
    margin-bottom:10px;
    transition: 0.4s;
    cursor:pointer;
}
.link_room_item:hover, .link_room_item+.active {
    color:#000;
    padding:20px 40px;
    background-color: #FBDA81;
    width:100%;
    margin-bottom:10px;
}
a.link_room_item.tab.js-tab-trigger.active {
    color:#000;
    padding:20px 40px;
    background-color: #FBDA81;
    width:100%;
    margin-bottom:10px;  
}
.room_item_left {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: -moz-fit-content;
}
#navigation.fixed{
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10000;
    background-color: #fff;
    max-width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s;
    /* grid-template-columns: 20% 1fr; */


}
#navigation.fixed2{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: #fff;
    max-width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s;


}

.fixed_top_menu {
    width:100vw;
    background-color:#fff;
    display:none;
}
.fixed_top_menu .container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 45% 1fr;
}
.fixed_top_menu_visible {
    z-index: 999;
    display: block;
    position: fixed;
    top:0;
}
.fixed_top_menu .container .menu_top {
    grid-row-start: 1;
    grid-row-end: -1; 
}
.fixed_top_menu .container .logo_img .name_park {
    font-size:24px;
}
.tab_text {
    margin-top:40px;
    margin-bottom:40px;
}
@media (min-width:768px) {
    .room_slider_nav.slick-initialized.slick-slider {
        padding: 0 70px;
    }
    .room_slider_nav>.slick-list>.slick-track>.slick-slide {
        margin:0 10px;
    }
    .room_slider_nav>.slick-list>.slick-track>.slick-slide>div>.img_about_otel:before {
        width: 40px;
        height: 80px; 
    }
    .room_slider_nav>.slick-list>.slick-track>.slick-slide>div>.img_about_otel:after{
        width: 75px;
        height:40px; 
    }
    .room_item_right .control_buttons {
        bottom: 110px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .form-control {
        width:80%;
    }
    .link_footer {
        widtH:60%;
    }
}
@media (max-width: 1280px)  {
    html,body {
        font-size: 17px;
        line-height: 28px;
    
    }
    .container{
        max-width: 960px;
    }
    .text_slider {
        font-size: 46px;
        line-height: 52px;  
    }
    .name_slider {
        font-size: 46px;
    line-height: 52px;
    }
    .fixed_top_menu .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 35% 1fr;
    }
}

/* Стили для активной вкладки */
.tab-header__item.active {
    color: red;
    position: relative;
    top: 1px;
    background-color: #fff;
    border-color: red;
   
 }
 
 /* Стиль для списка контейнеров с содержимым вкладок */
 .tab-content {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 /* Стили для контейнера с содержимым вкладки */
 .tab-content__item {
    display: none;
 }
 
 /* Стили для активного контейнера вкладки */
 .tab-content__item.active {
    display: block;
 }
 
 /* форма оплаты */
 .form_oplata  {
     margin-top:120px;
 }
 .contact_you .form-check {
     margin-bottom:20px;
 }
 .contact_you .form-check .form-check-label {
     color:#1B1C1E;
     padding-left: 10px;
 }
 .head_form {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 40px;
    margin-top:40px;
 }
 .block_fio_guests .form-group  input {
     width:90%;
 }
 .citizen .form-control  {
    width:100%;
}
.flag {
    width:20px;
    height:20px;
    background-size: cover;
}
.flag-by {
    background-image:url('img/bel.svg')
}
.flag-ru {
    background-image:url('img/rus.svg')
}
.flag-ua {
    background-image:url('img/ukr.svg')
}


.payment_block .row .col-3 .name_method {
    margin-bottom:5px;
    color:#000;
    font-size:20px;
}
.payment_block .row .col-3 p {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}
.method_pay, .sum_pay {
    text-align: center;
    margin-bottom:0;
}
.payment_block {
    border: 2px solid #01bac6;
    padding:10px;
    border-radius: 0 4px 4px 4px;
    background-color:#fff;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);

}
.payment_method  p a {
    cursor: pointer;
    color: #01bac6 !important;
}
.payment_method  p a:hover {
    cursor: pointer;
    color: #048992 !important;
}
.pay_itog .pravila {
    margin-top:0;
}
.pay_itog .form-check .form-check-label {
    color: #1B1C1E;
    padding-left: 10px;
    margin-bottom:15px;
}
.pay_itog .col-12 span {
    font-size:13px;
}


/* Страгица оплаты */
@media (max-width:769px) {
.contact_you .form-group .col-12 .form-control {
    width:100%;
    margin-bottom:10px;
}
.contact_you .form-group .col-12 span {
    width:100%;
    margin-bottom:40px;
}
.contact_you .form-check label.form-check-label {
    width:75%;
}
.citizen .form-control {
    width: 100%;
    margin-bottom:50px;
}
.block_fio_guests .form-group input {
    width: 100%;
}
.pay_itog .col-12 .form-check .form-check-label {
    width:75%;
}
.form_oplata .button-footer {
    width:100%;
}
.dop_comment .col-12 {
    margin-bottom:1.5rem;
}
}