@media  (min-width:320px) and (max-width:767px) {
.container {
    max-width:calc(100vw - 30px);
    padding:0;
}
h2 {
    font-size: 28px;
line-height: 36px;
}
.header span {
    font-size: 16px;
line-height: 17px;
}
.logo_img:before {
    transform: skewx( 
        -35deg
         );
            left: -80px;  
}

.menu_mobile_only a {
    display:none;
}
.slide_block{
    padding-top: 80px;
    padding-bottom: 320px;   
    padding-left:10px;
}
.slide_block>.container {
    width:282px;
    
}
.lucky_hour_container {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.podpis_rassilka {
    padding-left:20px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}
.input_mail_lucky_hour {
    padding-left:20px;
    padding-right:0;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;  
}
.lucky_hour_block:before {
    width: 787px;
    height: 237px;
}
.container_lucky_hour {
    width:calc(100vw - 30px);
}
.percent_hour{
    margin-left:-13px;
}
.hotel_container{
    margin-left:0;
    margin-right:0;
}
.info_location {
    width:280px;
    padding:10px;
}
.flex_reverse {
    margin: auto;
}
.rooms_block {
    grid-template-rows:150px 1fr;
    grid-template-columns: 1fr;
    grid-gap:20px;
}
.rooms_block>.left_rooms_block {
    grid-row-start:2 ;
    grid-row-end:2 ;
}
.rooms_block>.right_room_block {
    grid-row-start:1 ;
    grid-row-end:1 ;
}
.info_location h2 {
    font-size: 28px;
line-height: 36px;
}
.img_about_otel:before {
    width:50px;
}
.img_about_otel:after {
    width:50px;
}
.mobile_only {
    display:block;
}
.no_mobile {
    display:none;
}
.form_call_back_footer {
    display:none;
}
.footer .container{
    grid-template-columns: 100%;
}
.info_block_footer {
    grid-row-gap: 30px;
    grid-template-rows: 30% 1fr 1fr 1fr 1fr;
}

.link_footer {
    width:90%;
}
/* .book-form__item {
    width:50%;
} */
.datepicker__value .day {
    font-size: 26px;
line-height: 16px;
}
.guests__value {
    font-size: 40px;
line-height: 56px;
}
.select, .items {
    width:100%;
    text-align: left;
    margin-bottom:25px;
}
 .guests__minus,  .guests__plus {
    top: calc(50% - 0px);
    opacity: 1;
}
#text {
    padding-left:0;
}
a.mobile_menu {
    display: block;
    margin-left: auto;
    margin-bottom: 15px;
}
.only_320px a{
    display: block;
    margin-top:20px;
}
.header.container {
    padding-top: 15px;
}
.room_item_left {
    padding:0;
    text-align: center;
    z-index: 2;
}
.room_item_block {
    position: relative;
}
.control_buttons.buttons_mobile_only {
    justify-content: space-between;
    top: 10px;
    left:0;
}
.control_buttons.buttons_mobile_only img{
    z-index: 3;
}
.room_item_right .control_buttons {
    display: flex;
    justify-content: center;
}
.room_slider_nav>.slick-list>.slick-track>.slick-slide>div>.img_about_otel:before {
    width: 40px;
    height: 80px; 
}
.room_slider_nav>.slick-list>.slick-track>.slick-slide>div>.img_about_otel:after{
    width: 75px;
    height:40px; 
}
.fixed_top_menu .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 45% 1fr;
}
.slide_block {
padding-left:5%;
}
.next {
    position: absolute;
    top: 45%;
    right: 2%;
}
.prev {
    position: absolute;
    top: 45%;
    left: 2%;
}
}